USE [master]
GO
/****** Object:  Database [SARS_COV_2]    Script Date: 20/05/2020 2:59:38 ******/
CREATE DATABASE [SARS_COV_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SARS_COV_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SARS_COV_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SARS_COV_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SARS_COV_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SARS_COV_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SARS_COV_2]
GO
/****** Object:  Table [dbo].[CIUDADANO]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDADANO](
	[idCiudadano] [int] IDENTITY(1,1) NOT NULL,
	[nomCiudadano] [varchar](45) NOT NULL,
	[apeCiudadano] [varchar](45) NOT NULL,
	[celCiudadano] [char](9) NOT NULL,
	[edadCiudadano] [int] NOT NULL,
	[docCiudadano] [char](20) NOT NULL,
	[dirCiudadano] [varchar](100) NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[idProv] [int] NOT NULL,
	[idDistrito] [int] NOT NULL,
	[idTipoDocumento] [int] NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK__CIUDADAN__2B1E2C9CA41B0CE8] PRIMARY KEY CLUSTERED 
(
	[docCiudadano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[idDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[descripDepa] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[idDistrito] [int] IDENTITY(1,1) NOT NULL,
	[distrito] [varchar](50) NOT NULL,
	[idProv] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_CIUDADANO]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_CIUDADANO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idEstado] [int] NULL,
	[docCiudadano] [char](20) NULL,
	[idTriaje] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODULO]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACION]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[idModulo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[idProv] [int] NOT NULL,
	[provincia] [varchar](50) NULL,
	[idDepa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prueba]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prueba](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL_OPERACION]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_OPERACION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NULL,
	[idOperacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suv]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suv](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[idTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[desTipoDocumento] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_ESTADO]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_ESTADO](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIAJE]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIAJE](
	[idTriaje] [int] IDENTITY(1,1) NOT NULL,
	[question1] [bit] NOT NULL,
	[question2] [bit] NOT NULL,
	[question3] [bit] NOT NULL,
	[question4] [bit] NOT NULL,
	[question5] [bit] NOT NULL,
	[question_obesidad] [bit] NOT NULL,
	[question_enfermedad] [bit] NOT NULL,
	[question_diabetes] [bit] NOT NULL,
	[question_hipertension] [bit] NOT NULL,
	[question_cancer] [bit] NOT NULL,
	[question2_adulto] [bit] NOT NULL,
	[question2_nino] [bit] NOT NULL,
	[question2_gestante] [bit] NOT NULL,
	[question2_cronica] [bit] NOT NULL,
	[persona] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[docCiudadano] [char](20) NOT NULL,
 CONSTRAINT [PK__TRIAJE__37E58DF1791B1242] PRIMARY KEY CLUSTERED 
(
	[idTriaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[password] [varchar](200) NOT NULL,
	[fecha] [date] NOT NULL,
	[idRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CIUDADANO]  WITH CHECK ADD  CONSTRAINT [FK_idDepartamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[DEPARTAMENTO] ([idDepartamento])
GO
ALTER TABLE [dbo].[CIUDADANO] CHECK CONSTRAINT [FK_idDepartamento]
GO
ALTER TABLE [dbo].[CIUDADANO]  WITH CHECK ADD  CONSTRAINT [FK_idDistri] FOREIGN KEY([idDistrito])
REFERENCES [dbo].[DISTRITO] ([idDistrito])
GO
ALTER TABLE [dbo].[CIUDADANO] CHECK CONSTRAINT [FK_idDistri]
GO
ALTER TABLE [dbo].[CIUDADANO]  WITH CHECK ADD  CONSTRAINT [FK_idProvi] FOREIGN KEY([idProv])
REFERENCES [dbo].[PROVINCIA] ([idProv])
GO
ALTER TABLE [dbo].[CIUDADANO] CHECK CONSTRAINT [FK_idProvi]
GO
ALTER TABLE [dbo].[CIUDADANO]  WITH CHECK ADD  CONSTRAINT [FK_idTipoDocumento] FOREIGN KEY([idTipoDocumento])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([idTipoDocumento])
GO
ALTER TABLE [dbo].[CIUDADANO] CHECK CONSTRAINT [FK_idTipoDocumento]
GO
ALTER TABLE [dbo].[DISTRITO]  WITH CHECK ADD  CONSTRAINT [FK_idProv] FOREIGN KEY([idProv])
REFERENCES [dbo].[PROVINCIA] ([idProv])
GO
ALTER TABLE [dbo].[DISTRITO] CHECK CONSTRAINT [FK_idProv]
GO
ALTER TABLE [dbo].[ESTADO_CIUDADANO]  WITH CHECK ADD  CONSTRAINT [FK__ESTADO_CI__docCi__7A672E12] FOREIGN KEY([docCiudadano])
REFERENCES [dbo].[CIUDADANO] ([docCiudadano])
GO
ALTER TABLE [dbo].[ESTADO_CIUDADANO] CHECK CONSTRAINT [FK__ESTADO_CI__docCi__7A672E12]
GO
ALTER TABLE [dbo].[ESTADO_CIUDADANO]  WITH CHECK ADD FOREIGN KEY([idEstado])
REFERENCES [dbo].[TIPO_ESTADO] ([idEstado])
GO
ALTER TABLE [dbo].[ESTADO_CIUDADANO]  WITH CHECK ADD  CONSTRAINT [FK__ESTADO_CI__idTri__7B5B524B] FOREIGN KEY([idTriaje])
REFERENCES [dbo].[TRIAJE] ([idTriaje])
GO
ALTER TABLE [dbo].[ESTADO_CIUDADANO] CHECK CONSTRAINT [FK__ESTADO_CI__idTri__7B5B524B]
GO
ALTER TABLE [dbo].[OPERACION]  WITH CHECK ADD FOREIGN KEY([idModulo])
REFERENCES [dbo].[MODULO] ([id])
GO
ALTER TABLE [dbo].[PROVINCIA]  WITH CHECK ADD  CONSTRAINT [FK_idDepa] FOREIGN KEY([idDepa])
REFERENCES [dbo].[DEPARTAMENTO] ([idDepartamento])
GO
ALTER TABLE [dbo].[PROVINCIA] CHECK CONSTRAINT [FK_idDepa]
GO
ALTER TABLE [dbo].[ROL_OPERACION]  WITH CHECK ADD FOREIGN KEY([idOperacion])
REFERENCES [dbo].[OPERACION] ([id])
GO
ALTER TABLE [dbo].[ROL_OPERACION]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[ROL] ([id])
GO
ALTER TABLE [dbo].[TRIAJE]  WITH CHECK ADD  CONSTRAINT [FK_docCiudadano] FOREIGN KEY([docCiudadano])
REFERENCES [dbo].[CIUDADANO] ([docCiudadano])
GO
ALTER TABLE [dbo].[TRIAJE] CHECK CONSTRAINT [FK_docCiudadano]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[ROL] ([id])
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT]    Script Date: 20/05/2020 2:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_INSERT] 

@NOM VARCHAR(45),
@APE VARCHAR(45),
@CEL CHAR(9),
@EDAD INT,
@DOC CHAR(20),
@DIR VARCHAR(100),
@DEP INT,
@TD INT,
@QU1 BIT,
@QU2 BIT,
@QU3 BIT,
@QU4 BIT,
@QU5 BIT,
@QO BIT,
@QE BIT,
@QD BIT,
@QH BIT,
@QC BIT,
@QA BIT,
@QN BIT,
@QG BIT,
@QCR BIT,
@PER INT
AS
BEGIN
	insert into CIUDADANO VALUES(@NOM,@APE,@CEL,@EDAD,@DOC,@DIR,@DEP,@TD,SYSDATETIME())
	insert INTO TRIAJE values (@QU1,@QU2,@QU3,@QU4,@QU5,@QO,@QE,@QD,@QH,@QC,@QA,@QN,@QG,@QCR,@PER,SYSDATETIME(),@DOC)
END
GO
USE [master]
GO
